nav {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--pico-background-color);
}

[role="button"].profile-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: calc((var(--pico-nav-link-spacing-vertical) * 2) + (var(--pico-line-height) * 1rem) - 3px);
  padding:
    calc((var(--pico-nav-link-spacing-vertical) / 2) - var(--pico-border-width) * 2) calc((var(--pico-nav-link-spacing-horizontal) / 2) - var(--pico-border-height) * 2);
  overflow: hidden;
}

.profile-view>img {
  object-fit: cover;
  max-height: 100%;
  border-right: var(--pico-border-width) solid var(--pico-border-color);
}

.profile-view>button {
  display: grid;
  justify-content: center;
  place-items: center;
  place-self: stretch;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: calc((var(--pico-nav-link-spacing-horizontal) * 2) + (var(--pico-line-height) * 1rem) - 6px);
}

.editor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: "editor preview";
}

.editor-grid>* {
  --pico-border-color: var(--pico-form-element-border-color);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  overflow: hidden;
  padding: .5rem;
}

.editor {
  background-color: var(--vscode-editor-background);
}

.editor>div {
  height: 400px;
}

.preview,
[x-data="appview"] iframe {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
  color: var(--pico-color);
}

svg.theme-toggle {
  --theme-toggle-duration: .4s
}

svg.theme-toggle :first-child path {
  transition-duration: calc(var(--theme-toggle-duration) * .6);
  transition-property: transform, d;
  transition-timing-function: cubic-bezier(0, 0, .5, 1)
}

svg.theme-toggle g circle,
svg.theme-toggle g path {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle-duration) * .65) cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle-duration) * .35)
}

svg.theme-toggle.moon g circle {
  transform: scale(1.4);
  transition-delay: 0s
}

svg.theme-toggle.moon g path {
  transform: scale(.75);
  transition-delay: 0s
}

svg.theme-toggle.moon :first-child path {
  d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
  transition-delay: calc(var(--theme-toggle-duration) * .4);
  transition-timing-function: cubic-bezier(0, 0, 0, 1.25)
}

.badge {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  --pico-color: var(--pico-primary-inverse);
  --spacing-horizontal: calc(var(--pico-spacing) * 0.25);
  --spacing-vertical: calc(var(--pico-spacing) * 0.05);

  display: inline-block;
  margin-left: 0.5rem;
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  border-radius: 0.25rem;
  font-size: calc(var(--pico-font-size) * 0.5);
  background-color: var(--pico-background-color);
  border: var(--pico-border-width) solid var(--pico-border-color);
  color: var(--pico-color);
  vertical-align: calc((var(--spacing-vertical) * 2));
}

.badge.secondary {
  --pico-background-color: var(--pico-secondary-background);
  --pico-border-color: var(--pico-secondary-border);
  --pico-color: var(--pico-secondary-inverse);
}

.badge.contrast {
  --pico-background-color: var(--pico-contrast-background);
  --pico-border-color: var(--pico-contrast-border);
  --pico-color: var(--pico-contrast-inverse);
}

.badge.outline {
  --pico-background-color: transparent;
  --pico-color: var(--pico-primary);
}

.badge.outline.secondary {
  --pico-color: var(--pico-secondary);
}

.badge.outline.contrast {
  --pico-color: var(--pico-contrast);
}

@supports (transform: scale(0)) {
  .awesomplete>ul {
    transition: .3s cubic-bezier(.4, .2, .5, 1.4);
    transform-origin: 1.43em -.43em;
  }

  .awesomplete>ul[hidden],
  .awesomplete>ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

nav .awesomplete>ul {
  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-color: var(--pico-form-element-color);
  flex-direction: column;
  align-items: stretch;
  margin-left: 0;
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-background-color);
  gap: 1px;
}

.awesomplete>ul:before {
  content: "";
  position: absolute;
  top: -.43em;
  left: 1em;
  width: 0;
  height: 0;
  padding: .4em;
  background: var(--pico-border-color);
  color: var(--pico-color);
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.awesomplete>ul>li {
  position: relative;
  padding: .2em .5em;
  cursor: pointer;
  background: var(--pico-background-color);
  color: var(--pico-color);
}

.awesomplete>ul>li:first-of-type {
  border-top-left-radius: var(--pico-border-radius);
  border-top-right-radius: var(--pico-border-radius);
}
.awesomplete>ul>li:last-of-type {
  border-bottom-left-radius: var(--pico-border-radius);
  border-bottom-right-radius: var(--pico-border-radius);
}

.awesomplete>ul>li:hover {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
}

.awesomplete>ul>li[aria-selected="true"] {
  --pico-background-color: var(--pico-primary);
  --pico-color: var(--pico-primary-inverse);
}

.awesomplete mark {
  background-color: var(--pico-contrast);
  color: var(--pico-contrast-inverse);
}

.awesomplete li:hover mark {
  background-color: var(--pico-background-color);
  color: var(--pico-color);
}

.awesomplete li[aria-selected="true"] mark {
  background-color: var(--pico-background-color);
  color: var(--pico-color);
}

@supports not (d:path("")) {
  svg.theme-toggle.moon :first-child path {
    transform: translate3d(-9px, 14px, 0)
  }
}